body{
    background-color: #24353f;
}
h1{
    color: #17a2b8;
}
.group{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.form-control{
    background-color:#24353f;
    color:#fff
}
.form-control::placeholder{
    color: #fff;
}
a{
    text-decoration: none;
}
.form-control:focus-visible{
    outline: 1px solid #17a2b8;
    background-color: #24353f;
    color: white;
}
.form-control::target-text{
    color: white;
}